[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
v = {editable = true,version = "*"}
pygreen = {editable = true,path = "./py/pygreen"}
autopep8 = "*"

[packages]
docutils = "*"
ipython = "*"
pymdown-extensions = "*"
waitress = "*"
Markdown = ">=3.0.1"
Flask = "*"
Mako = "*"
pytest = "*"
pylint = "*"
MarkdownHighlight = "*"

[requires]
python_version = "3.7"
