// Typography
//$serif: 'Arbutus Slab';
$base-font-family: 'Roboto';
$header-font-family: 'Roboto Condensed';

// Font Sizes
$base-font-size: 1em;
$h1-font-size: $base-font-size * 1;
$h2-font-size: $base-font-size * 1;

// Line height
$base-line-height: 1;
$header-line-height: 1;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

$xxlarge: rem(32);
$xlarge: rem(24);
$large: rem(18);
$normal: rem(16);
$small: rem(14);

$big-border-thickness: 1.5em;
$footer-height: 10em;

// Colors
$white: hsl(240, 11%, 93%);  // cool white
$blue: hsl(199, 56%, 37%);   // 'mid-century' teal-ish color
$orange: hsl(27, 72%, 41%);  // 'mid-century' orange-ish color
$brown: hsl(30, 14%, 30%);    // warm-ish dark brown

$darkblue: darken($blue, 8%);
$darkorange: darken($orange, 12%);
$darkwhite: darken($white, 8%);
$darkbrown: darken($brown, 10%);

$lightblue: lighten($blue, 9%);
$lightorange: lighten($orange, 11%);
$lightwhite: lighten($white, 5%);
$lightbrown: lighten($brown, 12%);


$base-background-color: $white;
$base-font-color: $brown;
$base-link-color: $darkblue;
$hover-link-color: $orange;

// Border color
$base-border-color: $lightbrown;
$base-border: 2px solid $base-border-color;

// // Forms
// $form-border-color: $base-border-color;
// $form-border-color-hover: darken($base-border-color, 10);
// $form-border-color-focus: $base-accent-color;
// $form-border-radius: $base-border-radius;
// $form-box-shadow: inset 0 1px 3px rgba(black,0.06);
// $form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
// $form-font-size: $base-font-size;
// $form-font-family: $base-font-family;
