body.colors {
    #colors {
        font-weight: 700;
        font-family: sans-serif;
        @include outer-container;
    }
    #colors div {
        height: 10em;
        margin-bottom: 2em;
        border: 4px solid $brown;
        @include span-columns(3);
        @include omega(4n);
    }

    .fg { background-color: $brown; color: $white; }
    .bg { background-color: $white; }
    .c1 { background-color: $blue; }
    .c2 { background-color: $orange; }

    .fg.dark { background-color: $darkbrown; color: $white;  }
    .bg.dark { background-color: $darkwhite; }
    .c1.dark { background-color: $darkblue; }
    .c2.dark { background-color: $darkorange; }

    .fg.light { background-color: $lightbrown; color: $white;  }
    .bg.light { background-color: $lightwhite; }
    .c1.light { background-color: $lightblue; }
    .c2.light { background-color: $lightorange; }
}