body.cv {
  dt {
    font-weight: bold;
    margin-top: rem(12);
  }
  dt:first-child {
    margin-top: 0;
  }

  dd {
    margin: 0 0 rem(12) rem(12);
  }

  #title span {
    color: $orange;
    margin-left: rem(6);
  }

  #title a {
    color: $brown;
    &:hover {
        color: $hover-link-color;
    }

  }

    #main {
        ul {
            li {
                list-style-type: square;
                margin: 0 0 rem(12) rem(24);
            }
        }
    }

    header {
        @include outer-container;
        h1 {
            @include span-columns(10);
        }
        nav {
            @include span-columns(2);
            text-align: right;
        }
    }


    // small screen
    @include media($small-screen) {
        nav {
            margin: rem(24) rem(24) 0 0;
        }
    }


    // medium and big screen
    @include media($medium-screen) {
        // grid stuff...
        #wrap {
            #main { @include outer-container; }
        }

        #history {
            @include span-columns(7);
        }
        #other {
            @include span-columns(5);
        }
    }


    @include media($large-screen) {
            #history {
                @include span-columns(8);
            }
            #other {
                @include span-columns(4);
            }
            nav { margin: 0; }
    }

}  // body.cv

