ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &%default-ul {
    list-style-type: disc;
    margin-bottom: $base-spacing / 2;
    padding-left: $base-spacing;
  }

  &%default-ol {
    list-style-type: decimal;
    margin-bottom: $base-spacing / 2;
    padding-left: $base-spacing;
  }
}

dl {
  margin-bottom: $base-spacing / 2;
}

dt {
font-weight: bold;
margin-top: 0 0 0.75rem 0.75rem;
}
dt:first-child {
margin-top: 0;
}

dd {
margin: 0 0 0.75rem 0.75rem;
}

#skills li {
  margin-left: 1rem;
}

main section {
    ul {
        li {
            list-style-type: square;
            margin: 0 0 0.75rem 1.5rem;
        }
    }
}

nav {
  ul {
    li {
      display: inline;
      margin-right: 1em;
      white-space: nowrap;
      line-height: 1.5rem;
    }
  }
}