// Typography
//$serif: 'Arbutus Slab';
$base-font-family: 'Roboto';
$header-font-family: 'Roboto Condensed';

// Font Sizes
$base-font-size: 1em;
$h1-font-size: $base-font-size * 1;
$h2-font-size: $base-font-size * 1;

// Line height
$base-line-height: 1;
$header-line-height: 1;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

$xxlarge: 2rem;
$xlarge: 1.5rem;
$large: 1.125rem;
$normal: 1rem;
$small: 0.875rem;

$big-border-thickness: 1.5em;
$footer-height: 10em;

// Colors
$white: hsl(240, 11%, 93%);  // cool white
$blue: hsl(199.2, 66.5%, 38.6%);   // 'mid-century' teal-ish color
$orange: hsl(27, 86.4%, 43.3%);  // 'mid-century' orange-ish color
$brown: hsl(30, 14%, 30%);    // warm-ish dark brown

$darkblue: darken($blue, 8%);
$darkorange: darken($orange, 5%);
$darkwhite: darken($white, 8%);
$darkbrown: darken($brown, 10%);

$lightblue: lighten($blue, 9%);
$lightorange: lighten($orange, 11%);
$lightwhite: lighten($white, 5%);
$lightbrown: lighten($brown, 12%);


$base-background-color: $white;
$viewport-background-color: $white;
$base-font-color: $brown;
$base-link-color: #1d90c5;
$action-color: hsl(198.9, 74.3%, 44.3%);
$hover-link-color: hsl(27.1, 81%, 49.4%);
$hover-bg-color: hsla(60, 100%, 92.5%, 0.43);

$footer-link-color: darken($base-link-color, 20%);
$footer-hover-color: darken($hover-link-color, 15%);

// Border color
$base-border-color: $lightbrown;
$base-border: 2px solid $base-border-color;

// Focus
// $focus-outline-color: transparentize($action-color, 0.4);
// $focus-outline-width: 3px;
// $focus-outline: $focus-outline-width solid $focus-outline-color;
// $focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;


// // Forms
// $form-border-color: $base-border-color;
// $form-border-color-hover: darken($base-border-color, 10);
// $form-border-color-focus: $base-accent-color;
// $form-border-radius: $base-border-radius;
// $form-box-shadow: inset 0 1px 3px rgba(black,0.06);
// $form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
// $form-font-size: $base-font-size;
// $form-font-family: $base-font-family;

$gutter: 2em;
$max-width: 75em;

@mixin smallscreen {
    @media screen and (max-width: 39.9375rem) {
        @content;
    }
}

@mixin mediumscreen {
    @media screen and (min-width: 40rem) {
        @content;
    }
}

@mixin largescreen {
    @media screen and (min-width: 53.75rem) {
        @content;
    }
}
