@import "bourbon";

// Bitters 1.8.0
// http://bitters.bourbon.io
// Copyright 2013-2017 thoughtbot, inc.
// MIT License
@import "variables";
//@import "buttons";
//@import "forms";
@import "layout";
@import "lists";
@import "media";
//@import "tables";
@import "typography";

body {
    color: $base-font-color;
    background-color: $base-background-color;
    border-top: $big-border-thickness solid $blue;
}

footer {
    background-color: $darkorange;
    border-top: $big-border-thickness solid $blue;

    a { color: $darkblue; }

    h1, .copyright {
        line-height: inherit;
        font-size: $normal;
        color: $darkbrown;
    }
}

#title {
    text-transform: none;
    font-size: $xxlarge;
    color: $brown;
}

.contactbadges {
    img {
        width: 2em;
        opacity: 0.3;
        background-color: rgba($brown, 0.5);
        border-radius: 4px;
        padding: 6px;
        margin-right: 0.5rem;
    }
    img:hover {
        opacity: 1;
        transition: opacity 0.3s linear;
    }
}
#summary .contactbadges { display: none; }

.bug {
    @include clearfix;
    margin-bottom: 0.375rem;

    img {
        width: 3rem;
        margin: 0.75rem 0.5rem 0 0;
        float: left;
        opacity: 0.7;
    }
    p { 
        padding-top: 0.75rem;
    }
}

.photograph {
    border: 0.7em solid white;
    box-shadow: 0.1em 0.2em 0.5em rgba(0,0,0,0.4);
    background-color: #aaa;
}

#snail img {
    margin-top: 1.25rem;
}

.p50 { width: 50%;}
.p75 { width: 75%; }
.p80 { width: 80%; }
.p90 { width: 90%; }


#title span {
color: $orange;
margin-left: 0.375rem;
}

#title a {
color: $brown;
&:hover {
    color: $hover-link-color;
}
}

@include smallscreen {
    main, footer {
        padding: 0 1em;
        margin-top: 1em;
    }
        .bug {
            margin-left: 1em;
        }

        footer h1, footer .copyright {
            line-height: inherit;
            font-size: $normal;
            color: $darkbrown;
        }
    }

@include mediumscreen {
    main, footer aside {
        padding: 1.5em;
        margin-left: auto;
        margin-right: auto;
    }
    .bug {
        margin-left: 1em;
    }
    h1:first-child, h2:first-child {
        margin-top: 0;
    }
    main aside p {
        color: #7a6b5c;
        font-size: 0.875rem;
    }
    main aside h2 {
        color: #7f4515;
    }
    main aside p:first-child, aside h2:first-child {
        margin-top: 0;
    }
}

@include largescreen {
    main, footer aside {
        max-width: $max-width;
        margin: 1.5em auto;
        padding: 0 1.5em;
    }
    .bug {
        margin-left: 0;
    }
    .bug img {
        transition: opacity 0.3s linear;
    }
    .bug img:hover {
        opacity: 1;
    }
    .bug p {
        margin-bottom: 0;
    }
}

// ============================================================================

// Stuff for home page
body.home {

    @include smallscreen {
        header {
            #portrait {
                width: 20%;
                float: left;
                margin-right: 0.75em;
            }

            #title {
                margin-top: 1rem;
            }
        }

        #summary {
            color: $darkblue;
            border-bottom: 2px solid rgba($lightblue, 0.2);
            h2 { color: $darkblue; }
            a { color: $blue; }
            a:hover { color: $orange; }
        }

        #do h1:first-child { margin-top: 0.75rem; }
    }

// --------------------------------------------------------------------------

    @include mediumscreen {

        header #title { 
            text-align: center; 
            font-size: 2rem;
        }

        #summary {
            color: $darkblue;
            h2 { color: $darkblue; }
            a { color: $blue; }
            a:hover { color: $orange; }
            p { color: $blue; }

            margin: .75rem 0 0 0;
            padding: 0;
            section {
                p {
                    font-size: $large;
                    color: $blue;
                    font-weight: 700;
                }
            }
        }


        #summary + aside {
            padding-bottom: 1em;
            border-bottom: 2px solid rgba($lightbrown, 0.2);

            h2 {
                margin-top: 0.5em;
            }
        }

    }

// --------------------------------------------------------------------------

    @include largescreen {

        #title {
            font-size: 2rem;
        }
        #summary { 
            border-bottom: 0;
            margin-bottom: 0;
        }

        #summary section {
            border-bottom: 2px solid rgba($lightbrown, 0.2);
            margin: 0;
            padding: 0 0 0.75rem 0;
            }

        #summary .contactbadges { display: block; }
        .contactbadges {
            img:hover {
                opacity: 0.8;
                background-color: $lightorange;
            }
        }
    }
}  // body.home

// ============================================================================

// Stuff for CV page
body.cv {

    header {
        nav {
            display: none;
        }
    }

    .contactbadges {
        img:hover {
            opacity: 0.8;
            background-color: $lightorange;
        }
    }


    @include smallscreen {
    }


    @include mediumscreen {
    }


    @include largescreen {
    }

}  // cv.scss


